.header{
  height: 55px;
  display: flex;
  flex: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:  rgb(228, 228, 228);;
  z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 23px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 15px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.search-button,
.voice-search-button{
  display: flex;
  position: relative;
  justify-content: center;
}

.search-button .tooltip{
  position: absolute;
  background-color: rgb(51, 51, 51);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  top: 40px;
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
  font-family: Roboto, Arial;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.notifications-icon-container:hover .tooltip
{
  opacity: 1;
}

.search-icon{
  height: 25px;
  margin-top: 4px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.voice-search-button .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: rgb(110, 109, 109);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  font-size: 13px;
  top: 45px;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none;
  white-space: nowrap;
  font-family: Roboto, Arial;
}

.voice-search-icon{
  height: 25px;
  margin-top: 7px;
  width: 28px;
}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.notifications-icon{
  height: 27px;
  margin-right: 10px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-icon-container{
  display: flex;
  position: relative;
  justify-content: center;
}


.notifictations-count{
  position: absolute;
  top: -2px;
  right: 5px;
  left: 15px;
  background-color: rgb(201, 3, 3);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}


.current-user-picture{
  height: 32px;
  border-radius: 16px;
  margin-left: 5px;
}

.create-button{
  height: 35px;
  width: 95px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border: none;
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 8px;  
}
